/* mobile device */
@media screen  and (max-width:600px) {
    .container{
        width: 100%;
    }

    .nav ul{
        display: none;
    }
    .nav i{
        display:flex;
    }
    .banner{
        text-align: center;
    }
    .banner_text{
        text-align: center;
    }
    .about{
        display: grid;
     flex-direction: column;
    }
    .about img{
        width: 100%;
    }
    /* news */
    .news{
        flex-direction: column;
    }
    .newsleft{
        width: 100%;
    }
    .gallry_img{
        grid-template-columns:1fr;
        width: 100%;
    }
}