*{
    margin:0;
    padding:0;
    font-family: 'Mulish', sans-serif;
}
.container{
        width: 1240px;
        margin:auto;
        
}
/* header start */
header{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    gap:20px;
}
.logo span{
    color: #FF5400;;
}
.nav ul{
    display: flex;
    
}
.nav a{
    text-decoration: none;
    color:#424247;
    display: flex;
}
.nav i{
    display: none;
}
.nav li{
    list-style: none;
    padding-right:44px;
}
.nav a:hover{
    color: #FF5400;
}
/* header end */

/* banner start */
.banner{
    margin-top:80px;
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.8 )0%, 
    rgba(19, 19, 24, 0) 100%),url(../Images/Banner.png);
    padding: 100px;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    border-radius: 10px;
}
.banner_text{
    line-height: 100px;
}
.banner_text h1{
    color: #fff;
    font-size:64px;
    font-weight: 800;
}
.banner_text p{
    color: #fff;
    line-height:30px;
}
.banner_input input{
    padding: 15px 20px;
    margin: 0 15px;
}
.banner_btn a{
        background-color: #FF5400;
        padding: 15px 50px;
        text-decoration: none;
        color: #fff;
          
}
.banner_input{
    display: inline block;
    display: flex;
    margin-top: 30px;

}
/* banner end  */

/* about start */
.about{
    margin-top:80px;
    display: flex;
}
.about_text p{
    line-height:30px; 
    margin: 30px 0;
}
.about_text li {
    line-height:50px;
}
.button a{
    border: transparent;
    border-radius: 5px;
    background-color: #FF5400;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
}
/* about end */
 
/* place start */
.place_text{
    text-align: center;
    margin-top: 80px;
}
.place_text h1{
    color: #131318;
    font-size: 40px;
    margin-bottom: 30px;
}
.place_text p{
    line-height: 30px;
    color: rgba(19, 19, 24, 0.70);
}

.place_img{
    position: relative;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 300px 246px 300px;
    gap: 20px;
}
.place_img .maldives{
    background: url(../Images/Maldives.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px;
    position: relative;
    grid-column: 1/span 6;
}
.img_text h1{
      color: #fff;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      font-weight: 800;    
}
.place_img .indonasia{
    background: url(../Images/Indonesia.png);
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px;
    position: relative;
    grid-column: 7/span 6;
}
.img_text h1{
      color: #fff;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      font-weight: 800;    
}
.place_img .srilanka{
    background: url(../Images/Srilanka.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
    grid-column: 1/span 4;
}
.img_text h1{
      color: #fff;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      font-weight: 800;    
}
.place_img .north-america{
    background: url(../Images/NorthAmerica.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px;
    position: relative;
    grid-column: 5/span 5;
}
.img_text h1{
      color: #fff;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      font-weight: 800;    
}
.place_img .kasmir{
    background: url(../Images/Kashmir.png);
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 130px;
    position: relative;
    grid-column: 10/span 3;
}
.img_text h1{
      color: #fff;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      font-weight: 800;    
}
.place_img .bangladesh{
    background: url(../Images/Bangladesh.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding:150px;
    position:relative;
    grid-column:1/span 5;
}
.img_text h1{
      color: #fff;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      font-weight: 800;    
}
.place_img .bandorban{
    background: url(../Images/Bandarban.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px;
    position: relative;
    grid-column:0/span 5;
    width:100%;
}
.img_text h1{
      color: #fff;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      font-weight: 800;    
}

/* place end */

/* why start */
.why_head h1{
    margin-top: 60px;
    text-align: center;
    margin-bottom:20px;
    font-size: 40px;
}
.why_head p{
    text-align: center;
    margin-bottom:30px;
    color: rgba(19, 19, 24, 0.70);
    line-height: 30px;
}
.why{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
    margin-bottom: 60px;
}
.hotel{
    border: 1px solid transparent;
    width:500px;
    padding: 20px;
    align-items: center;
    line-height: 30px;
    background-color:rgba(251, 181, 99, 0.05);
}
.service{
    border: 1px solid transparent;
    width:573px;
    padding: 20px;
    align-items: center;
    line-height: 30px;
    background-color:rgba(41, 206, 246, 0.05);
}
.price{
        border: 1px solid transparent;
        width:573px;
        padding: 20px;
        align-items: center;
        line-height: 30px;
        background-color:rgba(233, 68, 68, 0.05);
}
/* why end */
/* gallry start */
.gallary{
    text-align: center;
    margin-bottom: 1000px;
}
.gallry_img img{
    width:100%;
}
.gallry_img{
    display:grid;
    grid-template-columns:repeat(3,1fr);
     gap: 15px;
}
.gallry_img div{
    width: 100%;
}
/* gallry end */
/* optional start */
.optional{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.optional_left{
    line-height: 30px;
}
.optional_left h1{
    font-weight:800;
    margin-bottom:20px;
}
.optional_left p{
    color:#5A5A5D;
    line-height: 30px;
}
.optional_left li{
    line-height: 30px;
    font-weight: 800;
    padding: 10px;
}
.optional_left .button{
    margin-top: 15px;
}
.optional_right video{
    width:400px;
    height:400px;
}
/* newsletter start */

.news{
    display: flex;
    gap: 30px;
    margin-top: 80px;
    justify-content: space-between;
}
.news_left{
    border: 1px solid #FF5400;
    width: 30%;
    line-height: 30px;
    gap: 20px;
}
.news_left h1{
    margin: 15px;
}
.news_left p{
    margin: 15px;
}
.news_right{
    background-image: url(../Images/footer.png);
     width: 50%;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
}
.card{
    position: absolute;
    right: 0;
    top: 70%;
    transform: rotate(-20deg);
}
.card a{
    text-decoration: none;
    color: #fff;
    background-color: #FF5400;
    padding: 40px 70px;
    border-radius:10px;
    
}
.card_text{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}
.news_right.card{
    position: absolute;

}
.news_left input{
    padding:10px 60px;
    margin: 15px 10px;
    border: transparent;
    outline: none;
    background: rgba(19, 19, 24, 0.05);
    border-radius:5px;
}
.footer_btn a{
    background-color: #FF5400;
    padding: 10px 80px;
    text-decoration: none;
    color: #fff;
}
.footer_btn{
    margin: 25px;
}
/* footer start */
footer{
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer_content{
    text-align: center;
}
.footer_text h2{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer_content span{
    color: #FF5400;
}
.footer_logo{
    display: flex;
    gap:20px;
    margin: 20px 780px;

}
.footer_icon{
    padding:30px;
}
.footer_icon i{
    padding: 10px;
    font-size: 20px;
}
.footer_icon hr{
    margin: 15px ;
}